/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    padding-bottom: 3.5rem; 
}
input {
    box-shadow: grey 0.1rem;
    border-radius: 0.2rem;
    padding: 0.7rem;
    border: 0.15rem rgb(179, 179, 179) solid;
}

input::placeholder {
    color:#b1b1b1
}

select {
    box-shadow: grey 0.1rem;
    border-radius: 0.2rem;
    padding: 0.7rem;
    border: 0.15rem rgb(179, 179, 179) solid;
}

label {
    text-indent: 0.4rem;
}

/* MOBILE */

.nav-bar {
    background-color: black;
    overflow: hidden;
    display: flex;
    gap: 1.95rem;
    list-style-type: none;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: solid rgb(126, 126, 126) 0.001rem;
    box-shadow: 0 0.1rem 0.1rem 0 rgb(239, 239, 239);
}

.nav-bar li {
    font-size: 1rem;
    align-content: center;
}

.nav-bar li a {
    color: black;
    text-decoration: none;
}

/* Edit nav bar so its interactive ie: hover effect (name of page jumps up) */
a {
    color: black;
    text-decoration: none;
}

.navCompany {
    font-size: 2rem;
    margin-left: 1rem;
}

#currentPage {
    border-bottom: solid rgb(100, 100, 100) 0.1rem;
}

.icon_img {
    display: block;
    object-fit: contain;
    width: 1.3rem;
    height: 1.3rem;
    align-items: center;
}

.footer-bar{
    position: fixed;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: black;
    background-color: rgb(233, 235, 235);
    width: 100%;
    font-size: 0.45rem;
    gap: 0.9rem;
    height: 2.5%;
}

/* MOBILE HOMEPAGE */

.heroimg-container{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    background-image: url("./images/heroimg.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-radius: 0.05rem;
    border: solid black 0.05rem;
    border-top: 0;
}

.heroimg-h {
    display: relative;
    text-align: center;
    position: relative;
    font-size: 1rem;
    bottom: 4.5rem;
    padding-top: 1rem;
    color:rgb(1, 1, 1)
}

.heroimg-p {
    display: relative;
    text-align: center;
    position: relative;
    font-size: 0.75rem;
    bottom: 5.5rem;
    padding-top: 1rem;
    color:rgb(0, 0, 0)
}

.home-text-container {
    border-top: solid black 0.2rem;
    display: relative;
    text-align: center;
    margin-top: 1.5rem;
    box-shadow: grey 0.1rem;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    padding: 1rem;
    border: 0.15rem rgb(236, 236, 236) solid;


}

.home-text {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.current-offers {
    background-color: rgb(243, 243, 243);
    padding-bottom: 0.15rem;
    margin-top: 0.25rem;
    box-shadow: grey 0.1rem;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    padding: 1rem;
    border: 0.15rem rgb(236, 236, 236) solid;
}

.offers-heading {
    display: relative;
    text-align: center;
}

.offers-text {
    text-align: center;
}

.offers-button {
    display: flex;
    text-align: center;
    margin: 0 auto;
    color: black;
    width: 10rem;
    font-size: 1rem;
    margin-top: 1.25rem;
    background-color: rgb(74, 142, 198);
    border-radius: 0.5rem;
    box-shadow: rgb(222, 222, 222) 0.05rem 0.05rem 0.05rem;
    padding: 0.5rem;
    border: 0.15rem rgb(236, 236, 236) solid;
}

/* MOBILE CONTACT*/

.contactError {
    color: red;
    font-size: 0.85rem;
}

.form {
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(1,1fr);
    gap: 0;
    margin-bottom: 2.5rem;
    align-items: start;
}

.contact-details {
    display: flex;
    margin: 0 auto;
    width: 65%;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    box-shadow: grey 0.1rem;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
    padding: 1rem;
    border: 0.15rem rgb(236, 236, 236) solid;
}

.form-identity {
    display: grid;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}

.form-location {
    display: grid;
    padding: 1rem;
    box-sizing: border-box;
}

.form-location label {
    margin-bottom: 1rem;
}

.form-comment {
    display: grid;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}

#comment {
    text-align: left;
    box-shadow: grey 0.1rem;
    border-radius: 0.2rem;
    padding: 0.7rem;
    border: 0.15rem rgb(179, 179, 179) solid;
}

.form-identity input {
    border-radius: 0.33rem grey;
}

.form-input--border {
    box-shadow: #cdcdcd 0.05rem 0.05rem 0.05rem;
}

label {
    font-weight: bold;
}

.form-submit {
    margin: 0 auto;
    border-radius: 0.33rem;
    width: 92.5%;
}

#submit {
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 0.33rem;
    border: 0;
    width: 100%;
    color: white;
    background-color: #1C1C1C;
    box-shadow: #000000 0.1rem 0.1rem 0.1rem;
    will-change: transform;
}

#submit:hover {
    transition: transform 150ms ease, background-color 200ms ease;
    transform: scale(1.05);
    color: #FFFFFF;
    background-color: #007BFF;
}

/* MOBILE PRODUCTS PAGE*/

.car_products {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0;
    margin-bottom: 2.5rem;
    align-items: start;
}

.car_products_container {
    box-sizing: border-box;
    color: black;
    width: 100%;
    border: solid black 0.1rem;
    box-shadow: black 0.1rem 0.1rem 0.1rem;
    gap: 0;
    text-align: center;
}

.car_products_container img {
    display: block;
    background-color: black;
    object-fit: contain;
    width: 100%;
    height: auto;
}

.car_products_container p {
    text-align: center;
    border-top: solid black 0.05rem;
    border-bottom: solid black 0.05rem;
    line-height: 2.5rem;
}

.icon_img {
    display: block;
    bottom: 0;
    flex: 0 0 auto;
    object-fit: contain;
    height: 2vh;
}

/* DESK TOP*/
@media screen and (min-width: 800px) { 

.nav-bar {
    display: flex;
    gap: 6rem;
    list-style-type: none;
    color: black;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-bottom: solid rgb(225, 225, 225) 0.001rem;
    font-size: 2rem;
}

.nav-bar li a {
    color: black;
    text-decoration: none;
    will-change: transform;
    border-bottom: solid transparent 0.1rem;
    transition: transform 150ms ease, border-color 200ms ease;
}

.nav-bar li a:hover {
    border-bottom: solid rgb(161, 161, 161) 0.1rem;
    will-change: transform;
}

.nav-bar a.active {
    border-bottom: solid rgb(100, 100, 100) 0.1rem;
}

span {
    font-weight: 1200;
    font-size: 1.8rem;
}

.footer-bar {
    font-size: 1rem;
    gap: 1rem;
}

.footer-bar { 
    height: 3rem; 
} 

/* DESKTOP HOMEPAGE*/

.heroimg-container{
    display: relative;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    background-image: url("./images/heroimg.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25rem;
    padding-bottom: 30rem;
}

.heroimg-h {
    display: relative;
    text-align: center;
    position: relative;
    font-size: 5rem;
    bottom: 13.5rem;
    padding-top: 1rem;
    color:rgb(1, 1, 1)
}

.heroimg-p {
    display: relative;
    text-align: center;
    position: relative;
    font-size: 3rem;
    bottom: 14.5rem;
    padding-top: 1rem;
    color:rgb(0, 0, 0)
}

#heroimg-p{
    display: relative;
    text-align: center;
    position: relative;
    bottom: 10rem;
    padding-top: 0.1rem;
    font-size: 3rem;
}

.home-text {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.current-offers {
    background-color: rgb(243, 243, 243);
    padding-bottom: 3rem;
}

.offers-heading {
    display: relative;
    text-align: center;
    font-size: 3.75rem;
}

.offers-text {
    text-align: center;
    font-size: 2rem;
}

.offers-button {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5rem;
    color: black;
    background-color: white;
    width: 25rem;
    font-size: 3rem;
    box-shadow: black 0.05rem 0.05rem 0.05rem;
}

/* DESKTOP PRODUCTS PAGE */

.car_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    margin-top: 3rem;
}

.car_products_container {
    color: black;
    width: 75%;
    align-content: center;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.car_products_container img {
    background-color: black;
    object-fit: contain;
    width: 100%;
    height: 12rem;
}

.car_products_container p {
    text-align: center;
    border-top: solid black 0.05rem;
}

/* DESKTOP CONTACT PAGE */

.form-content {
    max-width: 50%;
    margin: 0 auto;
}

.form {
    width: 38.5%;
}

.icon_img {
    display: block;
    bottom: 0;
    flex: 0 0 auto;
    object-fit: contain;
}
}